body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #ffe6cc;
}


/* HEADER */
.header {
  background: #ffeecc;
  padding: 12px 24px;
  border-bottom: 3px solid #c07015;
  border-top: 3px solid #090909;
  height: 80px;
}

/* NAVBAR */
.navbar {
  background: #ff9933;
  padding: 10px 24px;
  display: flex;
  gap: 15px;
  height: 50px;
  align-items: center;
  border-bottom: 3px solid #c07015;
}
.navbar a:hover {
  color: #333;
}

.nav-icon {
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.logout-btn {
  background: #c0392b;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  text-decoration: none;
}

.logout-btn:hover {
  background: #a93226;
}


.navbar a {
  text-decoration: none;
  font-weight: bold;
  color: #1a1919;
}

/* MAIN CONTENT */
.container {
  padding: 0;
}

/* FOOTER */
.footer {
  background: #003366;
  color: white;
  text-align: center;
  padding: 10px;
}

/* LOGO */
.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo-img {
  height: 60px;   /* FIXED */
  width: auto;
  background: transparent;
  mix-blend-mode: multiply;
}

.logo-text p {
  margin: 0;
  font-size: 13px;
  color: #555;
}
