body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #ffffff;
}

/* HEADER */
.header {
  background: #ffeecc;
  padding: 12px 24px;
  border-bottom: 3px solid #c07015;
  border-top: 3px solid #090909;
  height: 80px;
}

/* NAVBAR */
.navbar {
  background: #ff9933;
  padding: 10px 24px;
  display: flex;
  gap: 20px;
  height: 50px;
  border-bottom: 3px solid #c07015;
}

.navbar a {
  text-decoration: none;
  font-weight: bold;
  color: #1a1919;
}

/* MAIN CONTENT */
.container {
  padding: 0;
}

/* FOOTER */
.footer {
  background: #003366;
  color: white;
  text-align: center;
  padding: 10px;
}

/* LOGO */
.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo-img {
  height: 60px;   /* FIXED */
  width: auto;
  background: transparent;
  mix-blend-mode: multiply;
}

.logo-text p {
  margin: 0;
  font-size: 13px;
  color: #555;
}
