.bg {
  min-height: 100vh;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 380px;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  color: #fff;
}

.card input, .card button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  border: none;
}

.card button {
  background: orange;
  font-weight: bold;
  cursor: pointer;
}

.hint {
  font-size: 12px;
  color: #ddd;
}

.small {
  font-size: 13px;
}