body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e9ecef;
}

.header {
  background: #ffeecc;
  padding: 12px 24px;
  border-bottom: 3px solid #c07015;
  border-top: 3px solid #090909;
  height: 50px;
}

/* NAVBAR */
.navbar {
  color: white;
  align-items: center;
  background: #ff9933;
  padding: 10px 24px;
  display: flex;
  gap: 20px;
  height: 30px;
  border-bottom: 3px solid #c07015;
}
/* FULL PAGE BACKGROUND */
.page {
    min-height: calc(100vh - 120px); /* header + footer adjust */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    background-image: url("../img/rbg.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
}


.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand img {
  height: 40px;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  gap: 40px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 280px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 20px;
  color: #555;
}

.card {
    background: #ffe5d9;
    border-radius: 16px;
    padding: 30px;
    width: 360px;
    text-align: center;
    transition: all 0.35s ease;
    box-shadow: 0 8px 22px rgba(0,0,0,0.25);
}

.card.devotee:hover {
    background: linear-gradient(135deg, #89c2d9, #ffffff);
    transform: translateY(-12px);
    box-shadow: 0 18px 40px rgba(0, 102, 255, 0.35);
}
.card.admin:hover {
    background: linear-gradient(135deg, #f07167, #ffffff);
    transform: translateY(-12px);
    box-shadow: 0 18px 40px rgba(220, 53, 69, 0.35);
}

.btn {
  display: inline-block;
  width: 200px;
  padding: 12px;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

.btn.devotee {
  background: #007bff;
}

.btn.authority {
  background: #dc3545;
}

.btn:hover {
  opacity: 0.9;
}
